* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */
.container {
  width: 100%;
  max-width: 550px;
  background: rgb(89, 137, 154);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* LOGO */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 200px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #1e2a38;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #1e2a38;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
  color: #333;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #c2c0c0;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #3498db;
}

button {
  width: 60%;
  margin-top: 18px;
  padding: 12px;
  background: linear-gradient(135deg, #1e2a38, #2f4f6f);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #1e2a38;
}

.btn {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(135deg, #1e2a38, #2f4f6f);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  width: 60%;
}

.btn:hover {
  background: #1e2a38;
}

.remember-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}

.remember-box input[type="checkbox"] {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.remember-box label {
  font-size: 17px;
  color: #333;
  cursor: pointer;
}
input,
select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 85%;
}

input:focus,
select:focus {
  border-color: #1e2a38;
  box-shadow: 0 0 5px rgba(30, 42, 56, 0.3);
}
@media (max-width: 600px) {
  .container {
    margin: 15px;
    padding: 20px;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 20px;
  align-items: start;
}

/* FORM */
.stock-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* SUMMARY */
.summary {
  background: #f9fafc;
  padding: 20px;
  border-radius: 10px;
}

/* SIDE BY SIDE CARDS */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

/* CARD STYLE */
.summary-box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
